
obj/
bin/
*.o
*.a
*.dSYM/
__pycache__/
*.pyc
*.aux
*.out
*.toc
docs/report/*.log


tmp/
/extras/
/docs/extras


/scripts/*
!/scripts/run-on-pampero.sh


/docs/stress/*



.DS_Store


*.swp
*~
core
vgcore.*
